<!DOCTYPE html>
<html>
  <head>
    <title>WorkoutApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="https://d3js.org/d3.v5.min.js" charset="utf-8" defer></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module", defer: true %>
  </head>

  <body>
    <%= render 'shared/header' %>

    <%= yield %>
    <%= render 'shared/main' %>
    
    <%= render 'shared/footer' %>

  </body>
</html>
